body {
  margin: 0;
  background-color: #0a0a0a;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  position: absolute;
  top: 1000px;
  font-size: large;
  border: 2px solid white;
  background: #333;
  color: white;
  padding: 12px 28px;
  cursor: pointer;
  font-family: sans-serif;
  border-radius: 0; 
  background-clip: padding-box;
  transition: all 0.3s ease;
  z-index: 100;
}

button::before,
button::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  transition: all 0.3s ease;
}

button::before {
  top: -6px;
  left: -6px;
  border-right: none;
  border-bottom: none;
}

button::after {
  bottom: -6px;
  right: -6px;
  border-left: none;
  border-top: none;
}

button:active::before,
button:focus::before {
  top: -12px;
  left: -12px;
}

button:active::after,
button:focus::after {
  bottom: -12px;
  right: -12px;
}


.container {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  perspective-origin: center;
}

.rect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate(-55%, -50%) scale(1);
  width: 1200px;
  height: 1200px;
  border: 4px solid rgba(255, 255, 255, 0.411);
  transition: transform .2s ease-out;
}
